
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons{
  display: flex;
  justify-content: end;
  align-items: center;
  
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background:green;
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

header .logo{
  color:black;
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i{
  color:green;
}

.container-left{
  float: left;
  width: 20%;
  display: flex;
}

.container-right{
    width: 80%;
    display: flex;
    height: 100%;
    flex-direction: column;
    float: left;
    border: 1px solid rgb(255, 255, 255);
    
    
}



.tablinks{
  color: white;
  list-style-type: none;
  padding-left: 0 !important; 

}


header{
  font-size: 50px;
  border: 1px solid blue;
  background-color: rgb(17, 97, 97);
  position: relative;
  width: 100%;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  
  
}
.main-container{
  align-content: space-between;
}


#ayak{
    border: 1px solid blue;
    background-color: rgb(80, 87, 87);
    display:flex;
    width:100%;
    position: relative;
    bottom: 0px;
    right: 0px;
    justify-content: center;
    
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

body {
  font-family: "Lato", sans-serif;
}

#main-container {
  display: flex;
}

/* Fixed sidenav, full height */
.sidenav {
  position: static;
  height: 100%;
  width: 100%;
  z-index: 1;

  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.container-box{
  margin-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  margin-top: 5px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fffbfb;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}



/* Add an active class to the active dropdown button */
.active {
  background-color: rgb(224, 121, 24);
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  font-size: 14px;
  display: none;
  background-color: #6c6e6c;
  padding-left: 8px;
  
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }

  .sidenav a {
      font-size: 18px;
  }
}

.linklerim {
  display: none;
}